/*==============================================

GLOBAL

==============================================*/

body {
	background-color: #000;
	font-family: 'Permanent Marker', cursive;
}

.main {
	margin-top: 110px;
	height: 500px;
	min-width: 1200px;
	background-color: #fff;
	padding-left: 100px
}

/*==============================================

RYU

==============================================*/

.ryu,
.hadouken {
	float: left;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, 
.ryu-still, 
.ryu-throwing,
.ryu-cool {
  	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  	display: none;
} 

.ryu-ready {
  	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  	background-image: url('../images/ryu-cool.gif');
}

.hadouken, 
.ryu-ready, 
.ryu-still, 
.ryu-throwing,
.ryu-cool {
  	background-repeat: no-repeat;
}

/*==============================================

HADOUKEN

==============================================*/

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	top: 281px;
	left: 635px;
	z-index: 10;
}

/*==============================================

INSTRUCTIONS

==============================================*/

.instructions {
	padding: 90px 20px 120px 0;
	position: absolute;
	left: 659px;
	width: 600px;
}

.click,
.key {
	width: 50%;
	font-size: 35px;
	line-height: 43px;
	margin-bottom: 30px;
}

.key {
	margin-left: 300px;
}

span.red {
	color: red;
}




