/*==============================================

GLOBAL

==============================================*/

body {
	background-color: #000;
}

.main {
	margin-top: 110px;
	height: 500px;
	min-width: 1200px;
	background-color: #fff;
	padding-left: 100px
}

/*==============================================

RYU

==============================================*/

.ryu,
.hadouken {
	float: left;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing {
  	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing {
  	display: none;
} 

.ryu-ready {
  	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  	background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  	background-repeat: no-repeat;
}

/*==============================================

HADOUKEN

==============================================*/

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	top: 281px;
	left: 635px;
	z-index: 10;
}








